.desktop-nav {
  display: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0px;
  background: hsl(270, 9%, 17%) url("../images/bg-pattern-mobile-nav.svg") no-repeat fixed bottom;
  background-size: contain;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  margin: 5px;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--lightgray);
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover {
  border: 2px solid var(--lightgray);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
}

.open-menu {
  position: absolute;
  top: 15px;
  right: 15px;
}

.logo {
  position: relative;
  top: 20px;
  left: 40px;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .logo {
    width: 15%;
  }
}

@media (min-width: 992px) {
  .open-menu {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .logo {
    margin-bottom: 0;
    left: 80px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    padding-right: 65px;
  }

  .desktop-nav a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dgrayishviolet);
  }

  .desktop-nav a:hover {
    border: 3px solid var(--vdarkviolet);
    background-color: var(--vdarkviolet);
    color: var(--lightgray);
  }

  .desktop-nav a:active {
    color: var(--vdarkviolet);
    background-color: var(--lightgray);
    border: none;
  }
}